SERIAL 0 115200
UI vesamenu.c32
MENU TITLE Mars OS
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       30;40   #8050b0ff #000000ff std
MENU COLOR title        1;35;40 #c084ffff #000000ff std
MENU COLOR sel          7;35;40 #ffffffff #9b59ffff all
MENU COLOR unsel        37;40   #d8c8ffff #000000ff std
MENU COLOR help         37;40   #bda6dfff #000000ff std
MENU COLOR timeout_msg  37;40   #c084ffff #000000ff std
MENU COLOR timeout      1;35;40 #ffffffff #000000ff std
MENU COLOR msg07        37;40   #e8ddffff #000000ff std
MENU COLOR tabmsg       35;40   #c084ffff #000000ff std

MENU CLEAR
MENU IMMEDIATE
